{% extends 'base.html.twig' %}

{% block title %}Hello EportfolioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/xslysquidx/Library/Mobile Documents/com~apple~CloudDocs/cours iut/RT1/Saé/SAÉ 1.04/Eportfolio/eportfolio/src/Controller/EportfolioController.php</code></li>
        <li>Your template at <code>/Users/xslysquidx/Library/Mobile Documents/com~apple~CloudDocs/cours iut/RT1/Saé/SAÉ 1.04/Eportfolio/eportfolio/templates/eportfolio/index.html.twig</code></li>
    </ul>
</div>
<div>
    <a href="eportfolio/accueil" class="btn btn-primary">Go tou the home page</a>
</div>
{% endblock %}
